# Used to set default from the start, including frontend, important to keep
default_config:

# Included files/folders
group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
shell_command: !include_dir_named shell_command/

# Text to speech, used with Sonos
tts:
  - platform: google_translate

# Virtual camera to livestream a radar webpage
camera:
  - platform: generic
    still_image_url: https://s.w-x.co/staticmaps/wu/wu/wxtype1200_cur/ustiw/animate.png
    content_type: image/gif
    name: regional doppler radar

# Garage Doors
cover:
  - platform: aladdin_connect
    username: !secret aladdin_user
    password: !secret aladdin_pass

# Custom switches
input_boolean:
  # Master alarm switch
  arm_alarm:
    name: Alarm Arm Switch
    initial: off
    icon: mdi:alarm
  # Used for Kiosk dashboard to make cards appear to move
  conditional_card_toggle:
    name: Conditional Card Toggle
    initial: on
    icon: mdi:filter-outline
  # Track whether guest is in house based on front door lock
  guest_in_house:
    name: Guest in House
    initial: off
    icon: mdi:account-key

# Sets usb location of Z Wave dongle
zwave:
  usb_path: /dev/ttyUSB0
  device_config: !include zwave_device_config.yaml

# General notification to send to all phones at once
notify:
  - platform: group
    name: notify_all_phones
    services:
    - service: mobile_app_phone
    - service: mobile_app_caris_iphone

# Setup categories for Actionable Notifications
ios:
  push:
    categories:
      - name: Alarm
        identifier: 'alarm'
        actions:
          - identifier: 'ARM_ALARM'
            title: 'Arm Alarm'
            activationMode: 'background'
            authenticationRequired: false
            destructive: false
            behavior: 'default'
          - identifier: 'DISMISS'
            title: 'Dismiss'
            activationMode: 'background'
            authenticationRequired: false
            destructive: false
            behavior: 'default'

# Used to allow for UI-based time/date inputs that automation runs on
input_datetime:
  camera_reset_time:
    name: Time Camera Reboot
    has_date: false
    has_time: true 
  lvng_rm_lamp_off_time:
    name: Time Living Room Lamp Off
    has_date: false 
    has_time: true 
  noisemaker_off_time:
    name: Time Noisemaker Off
    has_date: false 
    has_time: true 
  alarm_auto_arm_time:
    name: Time Alarm Auto Arm
    has_date: false 
    has_time: true 
  alarm_auto_disarm_time:
    name: Time Alarm Auto Disarm
    has_date: false 
    has_time: true 

sensor:
  #generates a sensor in HA that reflects current time and can be compared against in automation
  - platform: time_date
    display_options:
      - 'time'
      - 'date'
      - 'date_time'
      - 'date_time_utc'
      - 'date_time_iso'
      - 'time_date'
      - 'time_utc'
      - 'beat'
  #sun2 integration from: https://github.com/pnbruckner/ha-sun2 Left many options off for now
  - platform: sun2
    monitored_conditions:
      - sunrise
      - solar_noon
      - sunset
      - max_elevation
  #HA standard moon phase sensor
  - platform: moon
  - platform: template
    sensors:
      utility_door_lock_status: 
        friendly_name: 'Utility Door Lock Status'
        value_template: '{{ states.lock.utility_door_lock.attributes.lock_status }}'
        entity_id: lock.utility_door_lock_status

# Spotify Integration
spotify:
  client_id: !secret spotify_client_id
  client_secret: !secret spotify_client_secret

# LG TV Integration
wake_on_lan:

webostv:
  host: 10.0.0.211
  name: Living Room TV
  turn_on_action:
    service: wake_on_lan.send_magic_packet
    data:
      mac: 20-17-42-36-58-52
      broadcast_address: 10.0.0.211

# Router Integration
device_tracker:
  # home_interval = nmap scan interval in minutes, how often it scans
  # consider_home = seconds that device must be away before marked away
  # interval_seconds = number of seconds between scans for new devices
  # scan_interval = same as nmap home_interval, only in seconds
  - platform: nmap_tracker
    home_interval: 1
    consider_home: 240
    interval_seconds: 15
    hosts: 
    - 10.0.0.173
    - 10.0.0.98  
  - platform: ping
    count: 1
    scan_interval: 60
    interval_seconds: 15
    consider_home: 240
    hosts:
      cari_phone: 10.0.0.173
      chris_phone: 10.0.0.98

# Set Logger level
logger:
  default: info
  logs:
    homeassistant.components.zwave: info
    homeassistant.components.tomato.device_tracker: warn
    homeassistant.components.automation.set_guest_in_house_status: debug
    homeassistant.components.automation.update_locked_state_from_alarm_type: debug
    homeassistant.components.automation.update_unlocked_state_from_alarm_type: debug

# Bypassing entities that run often in logbook
logbook:
  exclude:
    entities:
      - input_boolean.conditional_card_toggle
      - automation.conditional_card_time_based_toggle
      - sensor.date_time
      - sensor.date_time_iso
      - sensor.date_time_utc
      - sensor.internet_time
      - sensor.time
      - sensor.time_date
      - sensor.time_utc

