#Aladdin Connect
aladdin_user: xxxxxx
aladdin_pass: xxxxxx

#spotify
spotify_client_id: xxxxxx
spotify_client_secret: xxxxxx

#tomato router
tomato_user: xxxxxx
tomato_password: xxxxxxx
tomato_http_id: xxxxx

# In here for CI purposes
ssl_certificate: fullchain.pem
ssl_key: privkey.pem
